<div class="page-header">
  		<h1>POSTS</h1>
	</div>
<div ng-repeat="post in posts" ng-class-even="'row'">
	<div class="col-xs-6">
		<div class="panel panel-default"/>
			<div class="panel-heading">
				<h3 class="panel-title">{{post.title}} - {{post.date | date: 'dd MMMM yyyy'}}</h3>
			</div>
			<div class="panel-body">
				<div class="media-left media-middle">
			        <a href="#">
			          <img data-holder-rendered="true" src="{{post.featured_image}}" class="media-object" style="width: 100px; height: 100px;" alt="{{post.title}}">
			        </a>
			      </div>
			      <div class="media-body">
			        <span ng-bind-html="post.excerpt"></span>
			        <a class="btn btn-sm btn-default pull-right" href="#/posts/{{post.ID}}" role="button">Lire l'article</a>
			      </div>
			</div>
		</div>
	</div>
</div>
